In [74]:
from bs4 import BeautifulSoup

In [139]:
import urllib3
import requests
import pandas as pd
# get source code of the page
def get_url(url):
    return urllib3.urlopen(url).read()

# makes the source tree format like 
def beautify(url):
    source = get_url(url)
    return BeautifulSoup(source,"html.parser")

In [140]:
URL = 'https://www.indeed.co.in/jobs?as_and=data+analyst&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=&as_src=&salary=&radius=25&l=&fromage=any&limit=50&sort=&psf=advsrch&from=advancedsearch'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

In [170]:
print(soup.prettify())

<!DOCTYPE html>
<html dir="ltr" lang="en">
 <head>
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <script src="//d3fw5vlhllyvee.cloudfront.net/s/ad01355/en_IN.js" type="text/javascript">
  </script>
  <link href="//d3fw5vlhllyvee.cloudfront.net/s/3c8ea85/jobsearch_all.css" rel="stylesheet" type="text/css"/>
  <link href="http://www.indeed.co.in/rss?q=data+analyst" rel="alternate" title="Data Analyst Jobs, Recruitment" type="application/rss+xml"/>
  <link href="/m/jobs?q=data+analyst&amp;limit=50" media="only screen and (max-width: 640px)" rel="alternate"/>
  <link href="/m/jobs?q=data+analyst&amp;limit=50" media="handheld" rel="alternate"/>
  <script type="text/javascript">
   if (typeof window['closureReadyCallbacks'] == 'undefined') {
window['closureReadyCallbacks'] = [];
}

function call_when_jsall_loaded(cb) {
if (window['closureReady']) {
cb();
} else {
window['closureReadyCallbacks'].push(cb);
}
}
  </script>
  <meta content="1" name="ppstriptst"/>
  <script>
   var _scriptDownloadCount = 0;
var _retryDownload = function() {
var script = document.createElement('script');
var path = '//d3fw5vlhllyvee.cloudfront.net/s/80cef84/jobsearch-all-compiled.js';
script.async = false;
script.src = path;
script.onerror=_onMainJSBundleError;
document.head.appendChild(script);
};
var _onMainJSBundleError = function() {
try {

// for failed downloads, we want to retry the download up to 5 times
if (_scriptDownloadCount < 4) {
_scriptDownloadCount++;
_retryDownload();
return;
}

// if we've exhausted all retries, send a ping to log the failure
var img = document.createElement("img");
var tk = "1e7kmg6jg99t2800"; // tk
img.src = "/rpc/log?a=jasxJsLoadError&tk=" + tk;
document.head.appendChild(img);
document.head.removeChild(img);

} catch(e) {}
}
  </script>
  <script onerror="_onMainJSBundleError()" src="//d3fw5vlhllyvee.cloudfront.net/s/80cef84/jobsearch-all-compiled.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var searchUID = '1e7kmg6jg99t2800';
var tk = '1e7kmg6jg99t2800';

var loggedIn = false;
var dcmPayload = 'jobse0;jobal0;viewj0;savej0;8232301';
var myindeed = true;
var userEmail = '';
var tellFriendEmail = '';
var globalLoginURL = 'https:\/\/www.indeed.co.in\/account\/login?dest=%2Fjobs%3Fas_and%3Ddata%2Banalyst%26as_phr%3D%26as_any%3D%26as_not%3D%26as_ttl%3D%26as_cmp%3D%26jt%3Dall%26st%3D%26as_src%3D%26salary%3D%26radius%3D25%26fromage%3Dany%26limit%3D50%26sort%3D%26psf%3Dadvsrch%26from%3Dadvancedsearch';
var globalRegisterURL = 'https:\/\/www.indeed.co.in\/account\/register?dest=%2Fjobs%3Fas_and%3Ddata%2Banalyst%26as_phr%3D%26as_any%3D%26as_not%3D%26as_ttl%3D%26as_cmp%3D%26jt%3Dall%26st%3D%26as_src%3D%26salary%3D%26radius%3D25%26fromage%3Dany%26limit%3D50%26sort%3D%26psf%3Dadvsrch%26from%3Dadvancedsearch';
var searchKey = 'f8b11aff856810e0';
var searchState = 'q=data+analyst&amp;sort=&amp;radius=25&amp;fromage=any&amp;limit=50&amp;jt=all&amp;st=&amp;as_src=';
var searchQS = 'as_and=data+analyst&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=&as_src=&salary=&radius=25&fromage=any&limit=50&sort=&psf=advsrch&from=advancedsearch';
var eventType = 'jobsearch';
var locale = 'en_IN';
function clk(id) { var a = document.getElementById(id); var hr = a.href; var si = a.href.indexOf('&jsa='); if (si > 0) return; var jsh = hr + '&tk=1e7kmg6jg99t2800&jsa=6064'; a.href = jsh; }
function sjomd(id) { var a = document.getElementById(id); var hr = a.href; var ocs = hr.indexOf('&oc=1'); if (ocs < 0) return; var oce = ocs + 5; a.href = hr.substring(0, ocs) + hr.substring(oce); }
function sjoc(id, sal) { var a = document.getElementById(id); a.href = a.href + '&oc=1&sal='+sal; }
function ptk(st,p) {document.cookie = 'PTK="tk=1e7kmg6jg99t2800&type=jobsearch&subtype='+st+(p?'&'+p:'')+'"; path=/';}
function rbptk(st, c, p) { ptk(st, 'cat='+c+(p?'&p='+p:''));}
  </script>
  <script type="text/javascript">
   function loadJSAsync( ) {
for ( var i = 0; i < arguments.length; i++ ) {
var url = arguments[i];
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0];
s.async = true;
s.src = url;
el.parentNode.insertBefore(s, el);
})();
}
}
  </script>
  <meta content="7,112 Data Analyst jobs available on Indeed.co.in. Data Analyst, Analyst, Research Analyst and more!" name="description"/>
  <meta content="Data Analyst Jobs, Recruitment,  careers,  employment,  job listings,  job search,  search engine, work in " name="keywords"/>
  <meta content="origin-when-cross-origin" name="referrer"/>
  <link href="/All-Data-Analyst-jobs" rel="canonical"/>
  <link href="/jobs?q=data+analyst&amp;limit=50&amp;radius=25&amp;start=50" rel="next">
   <script src="https://d3fw5vlhllyvee.cloudfront.net/mosaic-common/dist/bad5dbde195971a7e2c9/scripts/shim.js" type="text/javascript">
   </script>
   <style type="text/css">
    body.janus #resultsBody #pageContent #resultsCol .clickcard:hover .title .jobtitle a,body.janus #resultsBody #pageContent #resultsCol .clickcard:hover .title a.jobtitle{text-decoration:underline}[dir=ltr] body.janus #resultsBody #pageContent #resultsCol .result .summary{padding-right:0}[dir=rtl] body.janus #resultsBody #pageContent #resultsCol .result .summary{padding-left:0}body.janus #resultsBody #pageContent #resultsCol .result{padding:1rem !important;border-top:0.25rem solid #f6f6f6}body.janus #resultsBody #pageContent #resultsCol .result .title a.jobtitle,body.janus #resultsBody #pageContent #resultsCol .result .title .jobtitle a{text-decoration:none;font-size:1.125rem !important;line-height:1.5rem !important;color:#2d2d2d}body.janus #resultsBody #pageContent #resultsCol .result .title .new{padding-left:0.5rem}body.janus #resultsBody #pageContent #resultsCol .result .company,body.janus #resultsBody #pageContent #resultsCol .result .company a{font-size:1rem !important;font-weight:400;line-height:1.375rem !important;color:#2d2d2d !important}body.janus #resultsBody #pageContent #resultsCol .result .sjcl{font-size:0}body.janus #resultsBody #pageContent #resultsCol .result .sjcl .location{color:#2d2d2d;font-weight:normal}body.janus #resultsBody #pageContent #resultsCol .result .sjcl .ratingsDisplay{font-size:1rem;line-height:1.375rem;padding-left:0.5rem}body.janus #resultsBody #pageContent #resultsCol .result .sjcl .ratingsDisplay .starIcon{margin-left:0.25rem;vertical-align:-0.05rem}body.janus #resultsBody #pageContent #resultsCol .result .sjcl .ratingsDisplay .ratingNumber{font-size:0.875rem;vertical-align:0;text-decoration:none;color:#2d2d2d}body.janus #resultsBody #pageContent #resultsCol .result .sjcl .ratingsDisplay .ratingsContent{line-height:0.75rem;display:inline-block}body.janus #resultsBody #pageContent #resultsCol .result .sjcl .ratingsDisplay a:hover .ratingsContent{border-bottom:0.078rem solid}body.janus #resultsBody #pageContent #resultsCol .result .more_loc{color:#085ff7;line-height:1.375rem}body.janus #resultsBody #pageContent #resultsCol .result .salarySnippet .salary .salaryText{font-size:1rem !important;line-height:1.375rem !important;color:#2d2d2d !important}body.janus #resultsBody #pageContent #resultsCol .result .summary{color:#2d2d2d !important;padding-top:0.5rem;line-height:1.25rem !important}body.janus #resultsBody #pageContent #resultsCol .result .jobsearch-SerpJobCard-footer{padding-top:0}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container{padding-top:0.5rem}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar{color:#6f6f6f}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .date,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .sponsoredGray,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .sjLabelGray,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .myjobs-serp-link,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .sdn,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .more-link,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .saved-to-my-jobs,body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .sl{line-height:1.125rem !important}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .more-link{margin-left:0}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .result-link-bar-separator{margin:0 0.5rem;font-weight:bold}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .hide-sponsored-separator{margin:0 0.25rem !important;color:transparent}body.janus #resultsBody #pageContent #resultsCol .result .result-link-bar-container .result-link-bar .save-job-link{color:#085ff7 !important}body.janus #resultsBody #pageContent #resultsCol .result .sign-in-container .ws_content a{color:#085ff7 !important}body.janus #resultsBody #pageContent #resultsCol .result .jobCardShelfContainer{border-spacing:0;padding-top:0.5rem}body.janus #resultsBody #pageContent #resultsCol .result .jobCardShelfContainer .jobCardShelf .jobCardShelfItem{font-size:0.875rem;line-height:1.25rem;display:inline-block;color:#2d2d2d;vertical-align:top;padding:0 1rem 0.5rem 0}body.janus #resultsBody #pageContent #resultsCol .result .jobCardShelfContainer .jobCardShelf .jobCardShelfItem .jobCardShelfIcon{padding-right:0.25rem;vertical-align:text-top;display:inline-block}body.janus #resultsBody #pageContent #resultsCol .result .jobCardShelfContainer .jobCardShelf .brandLabel,body.janus #resultsBody #pageContent #resultsCol .result .jobCardShelfContainer .jobCardShelf .iaLabel,body.janus #resultsBody #pageContent #resultsCol .resul

In [156]:
def title(soup):
    jobs = []
    for i in soup.find_all(name="div", attrs={"class":"row"}):
        for a in i.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
              jobs.append(a["title"])
    return(jobs[:-6])

In [171]:
def comp(soup): 
    companies = []
    for i in soup.find_all(name="div", attrs={"class":"row"}):
        company = i.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for i in company:
                companies.append(i.text.strip())
        else:
            b = i.find_all(name="span", attrs={"class":"result-link-source"})
            for j in b:
                companies.append(j.text.strip())
    return(companies[:-6])

In [172]:
def loc(soup): 
    locations = []
    spans = soup.findAll('span', attrs={'class': 'location'})
    for i in spans:
        locations.append(i.text)
    return(locations)

In [173]:
def sal(soup): 
    salaries = []
    for i in soup.find_all(name='div', attrs={'class':'row'}):
        sal = i.find(name='div', attrs={'class':'salarySnippet'})
        salaries.append(sal.text.strip() if sal else 'Nil')
    return(salaries[:-6])

In [174]:
jobs = title(soup)
companies=comp(soup)
locations=loc(soup)
salary=sal(soup)

In [179]:
job_list=pd.DataFrame({'Job Title':jobs, 'Company':companies,'Location':locations,'Salary':salary})

In [176]:
job_list=job_list.to_excel("job_list.xls")

In [181]:
job_list

,Job Title,Company,Location,Salary
0,Analyst - Analytics,Colgate-Palmolive,"Ahmedabad, Gujarat",Nil
1,Data Analyst,EW Technologies,"Pune, Maharashtra","₹50,000 - ₹60,000 a month"
2,Systems Analyst,ICL Systems India,Remote,"₹10,00,000 a year"
3,Financial Research Analyst,DATAMATRIX TECHNOLOGIES PVT LTD,"New Delhi, Delhi","₹25,000 - ₹50,000 a month"
4,Data Analyst,56N Software Pvt Ltd,"Bengaluru, Karnataka","₹3,00,000 - ₹6,50,000 a year"
5,Data Analyst,QuinStreet Software,"Bengaluru, Karnataka","₹7,00,000 - ₹10,00,000 a year"
6,Marketing Data Analyst - Data Visualization & ...,Show Me Leads,"Raipur, Chhattisgarh",Nil
7,Data Analyst,Aerospace Asset Trading,"Indore, Madhya Pradesh",Nil
8,Data Analyst,JLL,"Thiruvananthapuram, Kerala",Nil
9,Data Analyst,Catori Infotech Private Limited,"Nashik, Maharashtra","₹2,00,000 - ₹3,00,000 a year"
10,Data Analyst,Indian Elites Outsourcing Services,"Noida, Uttar Pradesh","₹1,40,000 - ₹2,00,000 a year"
11,Data Entry Work(Fresher),Mindcrew Technologies Pvt Ltd.,"Ahmedabad, Gujarat","₹9,000 - ₹11,000 a month"
12,COE - Data Ops - Analyst,EY,"Goregaon, Mumbai, Maharashtra",Nil
13,Data Research Analyst,Decimal Point Analytics,"Ahmedabad, Gujarat",Nil
14,Data Analyst,Hire Uz,"Delhi, Delhi","₹50,000 - ₹1,00,000 a month"
15,Data Analyst,Insigno Quipment Technologies,"Delhi, Delhi",Nil
16,Media Analyst,KANALYTICS,India,"₹15,000 - ₹25,000 a month"
17,Data Analyst,kyte Tech Consulting LLP,"Gurgaon, Haryana",Nil
18,Data Analyst - Looker,Vinayak Software,"Pune, Maharashtra","₹4,00,000 - ₹6,00,000 a year"
19,COA Data Analyst,Axalta,India,Nil
20,Engineering Analyst,GoSolar Solutions,"Bengaluru, Karnataka",Nil
21,Logistic Analyst,Honeywell,"Bengaluru, Karnataka",Nil
22,Analyst - Bangalore & Pune,Northern Trust Corp.,"Kochi, Kerala",Nil
23,Data Analyst,Credencys Solutions,"Hyderabad, Telangana",Nil
24,Data Analyst,The Learners Camp,"New Delhi, Delhi","₹3,00,000 - ₹4,00,000 a year"
25,Analyst - Research,Meredith Corporation,"Durgapur, West Bengal",Nil
26,Market Research Analyst,NUVENTO SYSTEMS P LTD,Remote,Nil
27,Data Analyst,GE Appliances,"Bengaluru, Karnataka",Nil
28,Data Analyst Intern,Redroom Technology Pvt. Ltd.( Sanfe),"Pune, Maharashtra",Nil
29,Analyst,Alchemy Research & Analytics,"Pune, Maharashtra",Nil
30,Marketing Data Analyst,Show Me Leads,"Bengaluru, Karnataka",Nil
31,Data Analyst- India,Silicon Valley Bank,"Durgapur, West Bengal",Nil
32,Data Research Analyst,Qualys,"Bengaluru, Karnataka",Nil
33,"Analyst,DataMgmtQuantAnalysis",BNY Mellon,"Madurai, Tamil Nadu",Nil
34,Reporting and Data Analyst,Merck KGaA,"Ahmedabad, Gujarat",Nil
35,Senior Analyst,Alchemy Research & Analytics,"Ahmedabad, Gujarat",Nil
36,Data Analyst,Postdot Technologies,"Bengaluru, Karnataka",Nil
37,Pulp Mill/ Paper Mill (Data Analyst),Mindssoft Technology,"Pune, Maharashtra",Nil
38,SEO Analyst,Space-O Technologies,"Gurgaon, Haryana",Nil
39,Business Analyst,Simform Solutions Pvt. Ltd.,India,Nil
40,Data Analyst,Reliance Jio Infocomm Limited,"Madhapur, Hyderabad, Telangana",Nil
41,Data Analyst,TGC Technologies Pvt Ltd,"Kolkata, West Bengal","₹1,50,000 - ₹2,00,000 a year"
42,Junior Data Analyst - Technology & Digital,McKinsey & Company,"Bengaluru, Karnataka",Nil
43,Research Analyst,KIA Biz,"Noida, Uttar Pradesh",Nil
44,Business Analyst,Timing Technologies,"Bengaluru, Karnataka","₹3,00,000 - ₹5,00,000 a year"
45,"Data Research Analyst Marketing - Kolkata, India",ZINFI SOFTWARE SYSTEMS,Punjab,Nil
46,Cybersecurity Analyst,Aparajita Consultancy Services,"Gurgaon, Haryana","₹4,00,000 - ₹12,00,000 a year"
47,Research Analyst (Chemicals & Material),BIS Research,"Gurgaon, Haryana",Nil
48,Analyst - Global Customer Data - Updates and M...,Oracle,India,Nil
49,Financial Analyst India,DNA Growth,"Pune, Maharashtra",Nil