In [1]:
from bs4 import BeautifulSoup

In [28]:
import urllib3
import requests
import pandas as pd
# get source code of the page
def get_url(url):
    return urllib3.urlopen(url).read()

# makes the source tree format like 
def beautify(url):
    source = get_url(url)
    return BeautifulSoup(source,"html.parser")

In [29]:
URL = 'https://www.indeed.co.in/jobs?as_and=data+analyst&as_phr=&as_any=&as_not=&as_ttl=&as_cmp=&jt=all&st=&as_src=&salary=&radius=25&l=&fromage=any&limit=50&sort=&psf=advsrch&from=advancedsearch'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

In [54]:
def title(soup):
    jobs = []
    for i in soup.find_all(name="div", attrs={"class":"row"}):
        for a in i.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
              jobs.append(a["title"])
    return(jobs[:50])

In [55]:
def comp(soup): 
    companies = []
    for i in soup.find_all(name="div", attrs={"class":"row"}):
        company = i.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for i in company:
                companies.append(i.text.strip())
        else:
            b = i.find_all(name="span", attrs={"class":"result-link-source"})
            for j in b:
                companies.append(j.text.strip())
    return(companies[:50])

In [56]:
def loc(soup): 
    locations = []
    spans = soup.findAll('span', attrs={'class': 'location'})
    for i in spans:
        locations.append(i.text)
    return(locations)

In [57]:
def sal(soup): 
    salaries = []
    for i in soup.find_all(name='div', attrs={'class':'row'}):
        sal = i.find(name='div', attrs={'class':'salarySnippet'})
        salaries.append(sal.text.strip() if sal else 'Nil')
    return(salaries[:50])

In [58]:
jobs = title(soup)
companies=comp(soup)
locations=loc(soup)
salary=sal(soup)

In [59]:
len(locations)

50

In [60]:
job_list=pd.DataFrame({'Job Title':jobs, 'Company':companies,'Location':locations,'Salary':salary})

In [61]:
job_list

,Job Title,Company,Location,Salary
0,Data Scientist,Canary Health Technologies,"Ahmedabad, Gujarat","₹5,00,000 - ₹6,00,000 a year"
1,Systems Analyst,ICL Systems India,"Pune, Maharashtra","₹10,00,000 a year"
2,Data Science modelers,Infosys Limited,"Bengaluru, Karnataka",Nil
3,Data Analyst,56N Software Pvt Ltd,"Bengaluru, Karnataka","₹3,00,000 - ₹6,50,000 a year"
4,Data Analyst,QuinStreet Software,"Bengaluru, Karnataka","₹7,00,000 - ₹10,00,000 a year"
5,Insights & Data Analyst,Dell,"Bengaluru, Karnataka",Nil
6,"Insights & Data Analyst Bangalore, Karnataka",VMware,"Bengaluru, Karnataka",Nil
7,Data Analyst,JLL,"Bengaluru, Karnataka",Nil
8,Data Analyst- Remote,Starkflow,"New Delhi, Delhi",Nil
9,Market Research Data Analyst,Robas Research,Tamil Nadu,Nil
10,Data Analyst,Catori Infotech Private Limited,Remote,"₹2,00,000 - ₹3,00,000 a year"
11,Data Analyst,Aerospace Asset Trading,"Lucknow, Uttar Pradesh",Nil
12,Research Analyst,"Frost and Sullivan, Inc.",Tamil Nadu,Nil
13,Marketing Data Analyst - Data Visualization & ...,Show Me Leads,"Delhi, Delhi",Nil
14,Technical Research Analyst,Rudra Shares and Stock Brokers Ltd.,"Noida, Uttar Pradesh","₹1,75,000 - ₹3,50,000 a year"
15,Senior Research Analyst / Industry Analyst,"Frost and Sullivan, Inc.","Thiruvananthapuram, Kerala",Nil
16,BCBS239 Analyst,Barclays,"Pune, Maharashtra",Nil
17,Data Analyst,Hire Uz,"Delhi, Delhi","₹50,000 - ₹1,00,000 a month"
18,COE - Data Ops - Analyst,EY,"Durgapur, West Bengal",Nil
19,Analyst - Bangalore & Pune,Northern Trust Corp.,"Raipur, Chhattisgarh",Nil
20,COA Data Analyst,Axalta,"Bengaluru, Karnataka",Nil
21,Analyst,Alchemy Research & Analytics,India,Nil
22,Data Analyst,Indian Elites Outsourcing Services,"Hyderabad, Telangana","₹1,40,000 - ₹2,00,000 a year"
23,ITS - TP - Advanced Analyst,EY,"Ahmedabad, Gujarat",Nil
24,Analyst - Data,Orange,"Durgapur, West Bengal",Nil
25,Data Analyst,GE Appliances,Punjab,Nil
26,Data Analyst,Insigno Quipment Technologies,"Ahmedabad, Gujarat",Nil
27,Senior Analyst,Alchemy Research & Analytics,"Pune, Maharashtra",Nil
28,Financial Analyst India,DNA Growth,"New Delhi, Delhi",Nil
29,Data Analyst,kyte Tech Consulting LLP,"Gurgaon, Haryana",Nil
30,Data Analyst,TGC Technologies Pvt Ltd,"Thiruvananthapuram, Kerala","₹1,50,000 - ₹2,00,000 a year"
31,Financial Analyst,Vantage Circle,"Kolkata, West Bengal",Nil
32,Junior Data Analyst (contract - 6 months),The Economist Newspaper Limited,India,Nil
33,Data Analyst,A&A Infotech Solutions,"Nashik, Maharashtra","₹8,000 - ₹9,000 a month"
34,"Data Research Analyst Marketing - Kolkata, India",ZINFI SOFTWARE SYSTEMS,"New Delhi, Delhi",Nil
35,Data Analyst,Credencys Solutions,Karnataka,Nil
36,Data Research Analyst,Decimal Point Analytics,"Ahmedabad, Gujarat",Nil
37,Data Analyst Intern,Redroom Technology Pvt. Ltd.( Sanfe),India,Nil
38,Systems Support Analyst 4,Wells Fargo,India,Nil
39,Business Analyst,Elsner Tech Pvt Ltd,"Pune, Maharashtra",Nil
40,Engineering Analyst,GoSolar Solutions,Remote,Nil
41,Research Analyst,KIA Biz,"Bengaluru, Karnataka",Nil
42,"Analyst,DataMgmtQuantAnalysis",BNY Mellon,"Hyderabad, Telangana",Nil
43,Marketing Data Analyst,Show Me Leads,"Indore, Madhya Pradesh",Nil
44,Data Analyst,The Learners Camp,"Madurai, Tamil Nadu","₹3,00,000 - ₹4,00,000 a year"
45,Senior Data Analyst,vertexcs,"Bengaluru, Karnataka",Nil
46,Data Entry Work(Fresher),Mindcrew Technologies Pvt Ltd.,"Bengaluru, Karnataka","₹9,000 - ₹11,000 a month"
47,Pulp Mill/ Paper Mill (Data Analyst),Mindssoft Technology,"Gurgaon, Haryana",Nil
48,CS - GSA - Editorial and Reporting Specialist ...,EY,"Gurgaon, Haryana",Nil
49,GCR US FSO - Advanced Analyst,EY,"Goregaon, Mumbai, Maharashtra",Nil

In [62]:
job_list=job_list.to_excel("job_list.xls")